<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bugera will help Peoples in growing their business by providing services of web development,android development and many more">
    <meta name="keywords" content="Web development,Android development,video editing">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Corinthia&family=Cormorant+Garamond:wght@300&family=Rampart+One&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="heading">
            <a href="home.html"><h1 class="h1Class">Console Cafe</h1></a>
        </div>
        <div class="navBar">
            <nav class="navClass">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="Blogs">Blog</a></li>                
                    <li><a href="contact_us.html">Contact us</a></li>
                    <li><a href="Sign_Up/">Sign Up</a></li>
                    <li><a href="our_services.html">Our Services</a></li>
                </ul>
            </nav>
        </div>
        <div class="searchClass">
            <input type="text" name="Search" placeholder="Search" class="inputsearchClass">
        </div>
    </header>
</body>
</html>